@page
@model OOOVote.Pages.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Новое голосование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>

<hr />
<form method="post">
    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Voting.Subject" class="control-label">Тема голосования</label>
                <input asp-for="Voting.Subject" class="form-control" />
                <span asp-validation-for="Voting.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voting.Description" class="control-label">Описание</label>
                <textarea asp-for="Voting.Description" class="form-control"></textarea>
                <span asp-validation-for="Voting.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voting.StartDate" class="control-label">Дата начала</label>
                <input asp-for="Voting.StartDate" class="form-control" />
                <span asp-validation-for="Voting.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voting.EndDate" class="control-label">Дата окончания</label>
                <input asp-for="Voting.EndDate" class="form-control" />
                <span asp-validation-for="Voting.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voting.OrganizationId" class="control-label">Организация</label>
                <select asp-for="Voting.OrganizationId" class="form-control" asp-items="ViewBag.OrganizationId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a class="btn btn-light" asp-page="Index">Назад</a>
            </div>

        </div>
        <div class="col-md-6">
            <h5>Повестка дня</h5>
            <hr />
            <div id="fields"></div>

            <button id="btnAddField" class="btn btn-light">Добавить поле</button>

            <script type="text/javascript">

                var fields = document.querySelector('#fields');
                var addFieldButton = document.querySelector('#btnAddField');

                addFieldButton.addEventListener("click", function (e) {
                    e.preventDefault();
                    var input = document.createElement("input");
                    input.classList.add('form-control');
                    input.classList.add('mb-3');
                    input.name = "Options";

                    fields.append(input);
                })
            </script>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
